html, body{
    background: #ffffff;
    margin: 0;
    height: 100%;
}

header{
    padding: 2rem;
    position: relative;
    top: 0;
    background: #a6a6a6;
    color: #eb206c  ;
    font-family: Montserrat;
    text-transform: uppercase;
    align-content: center;
}
footer{
    padding: 2rem;
    position: relative;
    bottom: 0;
    height: 200px;
    width: 100%;
    background: #1b3737;
    color: #ffffff;
}
.budy{
    min-height: 100%;
}

.container{
    color: #ffffff;
}













.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 100%;}
    25% { height: 100%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

body::-webkit-scrollbar{
    widht: 5rem;
    color: purple;
    background: #1b3737;
}
body::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

