html, body{
    display: block;
    background: black;
    margin: 0;
}

header{
    padding: 2rem;
    position: relative;
    top: 0;
    width: 100%;
    background: #a6a6a6;
    color: #eb206c  ;
    font-family: Montserrat;
    text-transform: uppercase;
    align-content: center;
}

.budy{
    position: relative;
    height: 1000px;
}

.container{
    position: relative;
    top: 15%;
    left: 15%;
    margin-right: 5%;
    display: inline-block;
    color: #ffffff;
}

.a {
    position: relative;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: 15p #FFffff;
    padding: 1rem 2rem 1rem 2rem;
    transition: 2s;
    font-family: Consolas;
    font-size: 15px;
    letter-spacing: 3px;
    background: black;
}

.a:hover{
    background: #3718ff;
    box-shadow: 0 0 10px #3718ff, 0 0 25px #3718ff, 0 0 50px #3718ff, 0 0 75px #3718ff, 0 0 100px #3718ff;
}

footer{
    padding: 2rem;
    position: relative;
    bottom: 0;
    height: 200px;
    width: 100%;
    background: #1b3737;
    color: #ffffff;
    display: block;
}

@media (max-width: 768px) and (min-width: 415px){
    footer{
        background: #FFffff;
    }
}

@media (max-width: 414px) {
    footer{
        background: purple;
    }
}

::-webkit-scrollbar{
    right: 0;
    height: 0;
    position: absolute;
    widht:0.5rem;
    color: purple;
    background: #1b3737;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

