html body{



    margin:0;
    padding:0;
    background: url("image/ps.jpg") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    font-size: 15px;
    text-align: center;
    padding: 2rem;
    color: black;
    text-transform: uppercase;

}


 .box{

     width: 400px;
     padding: 5rem;
     position: absolute;
     top: 50%;
     left : 50%;
     transform: translate(-50%,-50%);
     background: #191919;
     text-align: center;
     border: 2px solid;
     border-radius: 35px;





 }

 .box h1{

     color: white;
     text-transform: uppercase;
     font-weight: 500;

 }


 .box input[type="text"],.box input [type="text"]{

     border:0;
     background: none;
     display: block;
     margin: 20px auto;
     text-align: center;
     border: 2px solid #3498db;
     padding: 14px 10px;
     width: 200px;
     outline: none;
     color: white;
     border-radius: 24px;
     transition: 0.25s;


 }


 .box input[type="text"]:focus,.box input [type="password"]:focus{

     width: 280px;
     border-color: #2ecc71;

 }

 .box input[type=submit]{


     border:0;
     background: none;
     display: block;
     margin: 20px auto;
     text-align: center;
     border: 2px solid  #2ecc71;
     padding: 14px 40px;
     width: 200px;
     outline: none;
     color: white;
     border-radius: 25px;
     transition: 0.3s;
     cursor:pointer;

 }

 .box input[type = "submit"]:hover{


     background:#2ecc71

 }

